.display-address-block {
    display: flex;

}

.address-container {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
}

.address-block {
    display: flex;
    width: 20px;
    height: 2px;
}
